<h2 mat-dialog-title>Install Angular</h2>
<mat-dialog-content class="mat-typography">
  <form [formGroup]="bannerForm" (ngSubmit)="submit(bannerForm)">
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>標題</mat-label>
      <input formControlName="title" matInput required>
      <mat-error *ngIf="(bannerForm.get('title')).errors?.required">
        標題必填!
      </mat-error>
    </mat-form-field>
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>開始時間</mat-label>
      <input formControlName="startDate" matInput [matDatepicker]="pickerStart" matInput required>
      <mat-datepicker-toggle matSuffix [for]="pickerStart"></mat-datepicker-toggle>
      <mat-datepicker #pickerStart></mat-datepicker>
      <mat-error *ngIf="(bannerForm.get('startDate')).errors?.required">
        開始時間必填!
      </mat-error>
    </mat-form-field>
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>結束時間</mat-label>
      <input formControlName="endDate" [matDatepicker]="pickerEnd" matInput required>
      <mat-datepicker-toggle matSuffix [for]="pickerEnd"></mat-datepicker-toggle>
      <mat-datepicker #pickerEnd></mat-datepicker>
      <mat-error *ngIf="(bannerForm.get('endDate')).errors?.required">
        結束時間必填!
      </mat-error>
    </mat-form-field>
  </form>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Cancel</button>
  <button mat-button type="submit" (click)="submit(bannerForm)" cdkFocusInitial>Install</button>
</mat-dialog-actions>