<nb-card size="medium">
  <nb-card-header>新增-最新消息Banner</nb-card-header>
  <nb-card-body>
    <form (ngSubmit)="submit()" #form="ngForm" aria-labelledby="title">
      <div class="form-group"> <label for="bannerTitle" class="label">標題</label>
        <input nbInput fullWidth id="bannerTitle" placeholder="Ex:..." name="title" [(ngModel)]="bannerInfoData.title">
      </div>
      <div class="form-group"> <label for="bannerStartDate" class="label">開始時間</label>
        <input nbInput placeholder="開始日期" [nbDatepicker]="formDatepickerStartDate" name="startDate"
          [(ngModel)]="bannerInfoData.startDate">
        <nb-datepicker #formDatepickerStartDate></nb-datepicker>
      </div>
      <div class="form-group">
        <label for="bannerEndDate" class="label">結束時間</label>
        <input nbInput placeholder="結束時間" [nbDatepicker]="formDatepickerEndDate" name="endDate"
          [(ngModel)]="bannerInfoData.endDate">
        <nb-datepicker #formDatepickerEndDate></nb-datepicker>
      </div>
      <div class="form-group"> <label for="bannerLink" class="label">連結網址</label>
        <input nbInput fullWidth id="bannerLink" placeholder="https://......" name="link"
          [(ngModel)]="bannerInfoData.link">
      </div>
    </form>
  </nb-card-body>
  <nb-card-footer class="d-flex"> <button class="cancel" nbButton status="danger"
      (click)="cancel()">Cancel</button><button nbButton status="primary" (click)="submit()">Submit</button>
  </nb-card-footer>
</nb-card>